<ng-container *ngIf="!loading; else loadingTmpl">
  <div class="title">
    你可以在用户主页将用户加入你的黑名单。在你黑名单中的用户无法在你文章下评论，无法在其它评论中提到你，无法给你发送简信，自动从你的粉丝列表移除且无法再关注你。
  </div>
  <ul class="blacklist" *ngIf="blackList.length; else emptyListTmpl">
    <li class="item" *ngFor="let user of blackList">
      <a (click)="remove(user)" class="delete_btn">从黑名单移除</a>
      <a href="#" class="user_link">{{user.nickname}}</a>
    </li>
  </ul>
</ng-container>

<ng-template #loadingTmpl>
  加载黑名单中...
</ng-template>

<ng-template #emptyListTmpl>
  黑名单为空
</ng-template>
