.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.form_table {
  td {
    padding: 20px 0;
  }
  .first_col {
    width: 150px;
  }
  td.top_line {
    padding-top: 0;
  }
}

.submit_btn {
  min-width: 100px;
}

