.form_table {
  width: 100%;
  td {
    padding: 20px 0;
    vertical-align: top;
  }
}
.first_col {
  width: 150px;
}

.submit_btn {
  min-width: 100px;
}
.explain {
  text-align: right;
  font-size: 12px;
  color: #8590a6;
  margin-top: 5px;
}
